body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Poppins', sans-serif;
}

.navbar {
    background-color: #bacabf;
    display: flex;
    justify-content: left;
    align-items: center;
    padding: 12px 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
}

.navbar-brand {
    margin-right: 20px;
}

.navbar-brand img {
    max-width: 120px;
}

.navbar-nav {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.navbar-nav li {
    margin-left: 20px;
}

.navbar-nav li a {
    text-decoration: none;
    color: #003e71;
    font-family: 'Poppins', sans-serif;
    transition: color 0.3s ease;
}

.navbar-nav li a:hover {
    color: #fadd17;
}

.wallpaper {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: -1;
}

.wallpaper .shadow {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
}

.wallpaper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.container {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center; /* Centra el contenido horizontalmente */
    display: flex;
}


.titulo {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translateX(-50%);
    padding: 20px; /* Espacio alrededor del título */
    border-radius: 10px; /* Bordes redondeados */
    white-space: nowrap; /* Evitar el salto de línea */
}





.title {
    font-family: 'Poppins', sans-serif;
    font-size: 25px; /* Tamaño de fuente más grande */
    color: rgba(210, 193, 163, 0.6); /* Color del texto con transparencia */
    margin: 0; /* Eliminar margen predeterminado */
    text-align: center; /* Centrar el texto horizontalmente */
    text-transform: uppercase; /* Convertir texto a mayúsculas */
}




.button-container {
    display: flex;
    justify-content: center; /* Alinea los botones horizontalmente */
    flex-wrap: wrap; /* Permite que los botones se envuelvan cuando no hay suficiente espacio */
}

.button {
    background-color: rgba(175, 198, 192, 0.8); /* Color de fondo con transparencia */
    color: #003e71;
    border: none;
    padding: 10px 20px;
    margin: 15px; /* Espacio entre los botones */
    display: inline-block;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease, box-shadow 0.3s ease;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    text-transform: uppercase;
    text-decoration: none;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border: 2px solid transparent;
    background-image: linear-gradient(to bottom right, rgba(186, 202, 191, 0.6), rgba(175, 198, 192, 0.6));
}


.button:hover {
    background-image: linear-gradient(to bottom right, #178bbd, #acc5c1);
    transform: translateY(-2px);
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2);
}

.button:active {
    transform: translateY(0);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

